body {
  margin-top: 100px;
  background-color: #d3ead8;
  padding: 20px;
}
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="date"],
input[type="number"],
textarea {
  width: 50%;
  padding: 10px;
  margin-left: 30%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4caf50;
  margin-left: 30%;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}
input[type="submit"]:hover {
  margin-left: 30%;
  background-color: #45a049;
}
label {
  margin-left: 30%;
  font-weight: bold;
}

/* Interactive CSS */
input[type="date"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

#back {
  margin-top: 10px;
  margin-left: 150px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#back:hover {
  background-color: black;
  color: white;
}

#H1leave {
  margin-left: 30%;
}
