body {
  background-color: #d3ead8;
  margin: 0;
  padding: 0;
}

nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

img {
  padding: 10px;
  height: 100px;
  width: 250px;
}

h2 {
  font-size: 17px;
}

button {
  margin-left: auto;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: oslwald;
}

.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 0px;
}
.box1 {
  background-color: #222222;
  height: 91vh;
  width: 300px;
  position: fixed;
}
.box2 {
  height: auto;
  width: 1070px;
  margin-left: 300px;
  padding: 20px;
}

#box1-content {
  color: #4caf50;
  padding-left: 10px;
}
#box2-content {
  color: black;
  padding-left: 20px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-left: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #9ceb9f;
  cursor: pointer;
}
#logo {
  cursor: pointer;
}

#navbar-icon {
  height: 0;
  width: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  #logout {
    display: none;
    margin-top: 28%;
    margin-left: -9%;
  }
  #navbar-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .box1 {
    display: none;
    width: 100%;
    position: static;
    height: auto;
  }
  .box2 {
    width: 100%;
    position: static;
    height: auto;
  }

  .box2 {
    margin-left: 0;
    padding: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  #navbar-icon {
    margin-left: 250px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .box1 {
    display: none;
    width: 100%;
    position: static;
    height: auto;
  }
  .box2 {
    width: 100%;
    position: static;
    height: auto;
  }

  .box2 {
    margin-left: 0;
    padding: 10px;
  }
}
#welcome {
  color: #4caf50;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
